<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/images/imagen.jpg" alt="Card image cap">
          <div class="card-body">
            <div class="d-flex">
              <div class="btn-group max-width">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openLg(content)">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <vg-player>
      <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source src="assets/videos/video1.mp4" type="video/mp4">
      </video>
    </vg-player>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<router-outlet></router-outlet>