<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; height: 300px">
  <h1>
    Muchísimas felicidades!
  </h1>
  <h1>
    ~30~
  </h1>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div *ngFor="let felicitacio of felicitacions" class="col-md-4">
        <div class="card mb-4 box-shadow">
          <ngb-carousel *ngIf="felicitacio.fotos.length > 1">
            <ng-template *ngFor="let foto of felicitacio.fotos" ngbSlide>
              <img class="card-img-top" src="assets/images/{{foto}}" (click)="openFoto(modalFoto, foto)">
            </ng-template>
          </ngb-carousel>
          <img *ngIf="felicitacio.fotos.length == 1" class="card-img-top" src="assets/images/{{felicitacio.fotos[0]}}"
            (click)="openFoto(modalFoto, felicitacio.fotos[0])">
          <div class="card-body">
            <div class="input-group mb-3">
              <input class='form-control' type="text" aria-label="Adivina" ngModel
                (ngModelChange)="checkName($event, felicitacio)" [disabled]="felicitacio.valid">
              <div class="input-group-append">
                <button  class="btn btn-outline-secondary" type="submit"
                  [disabled]="!felicitacio.valid" (click)="openLg(content, felicitacio.video)"><i style="color:plum"
                    class="fas fa-birthday-cake"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Felicidades!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-video name={{selected}}></app-video>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #modalFoto let-modal>
  <div class="modal-header">
    <h4 class="modal-title">¿Quién es?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="card-img-top" src="assets/images/{{selected}}">
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<router-outlet></router-outlet>