<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div *ngFor="let felicitacio of felicitacions" class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/images/{{felicitacio.fotos[0]}}" alt="Card image cap">
          <div class="card-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button style="background-color: rgb(226, 241, 243)" class="btn btn-outline-secondary" type="button" (click)="openLg(content, felicitacio.video)"><i style="color:plum" class="fas fa-birthday-cake"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-video name={{selected}}></app-video>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<router-outlet></router-outlet>