.max-width {
    width: 100%;
}

input:disabled {
    border-left: 5px solid #42A948;
}

.input-group-append button:disabled,
.input-group-append button[disabled]{
  background-color: rgb(243, 200, 204)
}

.input-group-append button:enabled,
.input-group-append button[enabled]{
  background-color: rgb(202, 248, 221)
}

@font-face {
  font-family: myFirstFont;
  src: url("../assets/images/mountain.ttf");
}

div {
  font-family: myFirstFont;
}

h1 {
  margin-top: 50px; font-size: 100px;text-shadow: 6px 1px #ffffff;
}

.b-body{
  background-image: url('../assets/images/flag.png');
  background-repeat: repeat-x;
  background-position: center;
}